* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  height: 0;
}

#App, #root {
  min-height: 100%;
  background-color: black;
}

#root {
  width: 100%;
}

#App {
  padding: 50px;
  width: 50%;
  min-width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 50px;
}

h1, p, li, label {
  color: white;
}

h1 {
  margin-top: 0;
}

label {
  display: block;
  min-width: 100%;
}

#todo-input, #submit {
  background-color: black;
  border: 1px solid gray;
  margin: 10px 0 10px 0;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

#submit {
  cursor: pointer;
}

#submit:hover {
  background-color: gray;
}

#submit:active {
  background-color: white;
  border-color: black;
  color: black;
}

#todo-items {
  word-wrap: break-word;
  padding-left: 20px;
  margin-bottom: 10px;
}

.todo-item {
  width: 100%;
  display: flex;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clear-button {
  background-color: black;
  color: white;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: gray;
}

.clear-button:active {
  background-color: white;
  color: black;
  border-color: black;
}

#clear-all {
  margin-left: 20px;
  margin-bottom: 30px;
}
